{% extends 'base.html' %}

{% block content %}
<div style="max-width: 500px; margin: 40px auto; background-color: #111827; padding: 30px; border-radius: 12px; border: 2px solid #385389; color: white;">
    <h2 style="margin-top: 0; color: #f59e0b;">Изменить оценку</h2>

    <form method="POST">
        {% csrf_token %}

        <div style="margin-bottom: 15px;">
            <label for="student" style="color: #fff; display: block; margin-bottom: 8px;">Студент:</label>
            <select name="student" id="student" style="width: 100%; padding: 10px; background-color: #1f2937; color: #ffffff; border: 1px solid #374151; border-radius: 6px; outline: none; margin-bottom: 16px;">
                <option value="" disabled selected>Выберите студента...</option>
                
                {% for student in students %}
                    <option value="{{ student.id }}">
                        {{ student.first_name }} {{ student.last_name }}
                    </option>
                {% empty %}
                    <option value="" disabled>Студенты не найдены (База пуста)</option>
                {% endfor %}
            </select>
        </div>

        <div style="margin-bottom: 20px;">
            <label style="display: block; margin-bottom: 5px;">Оценка:</label>
            <input type="number" name="mark" value="{{ mark.mark }}" min="1" max="100" required style="width: 100%; padding: 10px; border-radius: 6px; background: #1f2937; color: white; border: 1px solid #374151;">
        </div>

        <button type="submit" style="background-color: #f59e0b; color: white; padding: 10px 20px; border: none; border-radius: 6px; cursor: pointer; font-weight: bold;">Сохранить изменения</button>
        <a href="{% url 'mark_index' %}" style="background-color: #4b5563; color: white; padding: 10px 20px; border-radius: 6px; text-decoration: none; margin-left: 10px; display: inline-block;">Отмена</a>
    </form>
</div>
{% endblock %}